body {
    font-family: Verdana, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 20px;
}

h1 {
    color: #00d4ff;
}

h2 {
    color: #fffa8b;
}


table {
    border-collapse: collapse;
    width: 60%;
    background-color: #333;
    color: white;
    margin-bottom: 25px; 
}

th {
    background-color: #444;
    color: #fff;
}

td, th {
    border: 1px solid #555;
    padding: 8px;
}


ul {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;  
}


img {
    border: 3px solid #00d4ff;
    border-radius: 8px;
}


a {
    display: inline-block;
    margin-top: 10px;
}
