body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #222;
    margin: 40px;
    text-align: center;
}

h1 {
    color: #0077ff;
    margin-bottom: 30px;
}

h2 {
    color: #222;
    margin-top: 40px;
    margin-bottom: 15px;
}

ul {
    background: #ffffff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    background: white;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #0077ff;
    color: white;
}

a {
    color: #0077ff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}